streamlit
dotenv
joblib
pandas
numpy
requests
fastapi
pydantic
passlib
jose
psycopg2
uvicorn
sklearn
matplotlib
langchain_community
langchain_text_splitters
langchain_google_genai
langchain_core
flask
flask_cors
imblearn
xgboost
kiteconnect
